.modal {
    /* display: none; */
}

.modal {
    width: 430px;
    background-color: transparent;
    border: 0.5px solid #ffffff;
    border-radius: 15px;
}

.modal__blocks{
    display: flex;
}

.modal input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 15px;
    opacity: 0.8;
    padding: 0px 10px;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
}

.modal button {
    display: block;
    
    border-color: black;
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 15px;
    opacity: 0.8;
    padding: 0px 10px;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
}

.modal button[type="submit"] {
    background-color: #bb12a4;
    border-radius: 15px;
    font-size: 22px;
    color: #141c3a;
    cursor: pointer;
}
.modal button[type="submit"]:hover {
    background-color: transparent;
    color: #ffffff;
    font-weight: 100;
}


.information{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}